{% extends 'base.html.twig' %}

{% block title %}Adverts: {{ parent() }}{% endblock %}

{% block body %}
<div class="container mt-4">

    <h1>Adverts:</h1>

    <div class="adverts">
        {% for message in app.flashes('info') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('notice') %}
            <div class="danger danger-success">
                {{ message }}
            </div>
        {% endfor %}

        {% for advert in adverts %}

            <div class="card">
                <div class="card-img-top" style="background-image:url('{{ advert.image }}');">

                </div>
                <div class="card-body">
                    <h2 class="card-title">{{ advert.name }}</h2>
                    <h2 class="card-title">{{ advert.creationDate }}</h2>
                    <div>{{ advert.price ? advert.price ~ '€' }}</div>
                    <p class="card-text">{{ advert.description|slice(0, 100) }}...</p>
                    <div class="card-info">
                        <div>{{ advert.criteria }}</div>
                    </div>
                    <a href="{{ path( 'show', {"id": advert.id} ) }}" class="btn btn-primary">Details</a>
                    <a href="{{ path( 'edit', {"id": advert.id} ) }}" class="btn btn-secondary">Modify</a>
                    <a href="{{ path( 'delete', {"id": advert.id} ) }}" class="btn btn-danger">Delete</a>
                </div>
            </div>

        {% endfor %}
    </div>
</div>

{% endblock %}
